@font-face {
    font-family: helveticaNeue;
    src: url(./assets/fonts/helvetica-neue.ttf);
}

* {
    font-family: helveticaNeue;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}